{% extends '::base.html.twig' %}
{% block title %}Edit Category{% endblock %}
{% block content %}
<div class="content-wrapper">
    <h1><a href="{{ path('admin_category_index') }}">Categories</a> > Edit > {{category.title}}</h1>
    
    <form action="{{ path('admin_category_edit', {'slug' : category.slug}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p><button type="submit">Update</button></p>
    </form>
</div>
{% endblock %}