{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}Admin Categories{% endblock %}
{% block content %}
<div class="content-wrapper">
    <h1>Categories</h1>
    <a href="{{ path('admin_category_new') }}">New+</a>
    <ul>
        {% for category in categories %}
            <li>
                <div class="category">
                    <div class="category-title">{{category.title}}</div>
                    <div class="category-subtitle">{{category.subtitle}}</div>
                    <div class="category-description">{{category.description}}</div>
                    <div class="category-crudnav">
                        <a href="{{ path('admin_category_edit', {'slug': category.slug}) }}"><button>Edit</button></a>
                        <a href="{{ path('admin_category_delete', {'slug': category.slug}) }}"><button>Delete</button></a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('admin_category_new') }}">New+</a>
</div>
{% endblock %}