{% extends '::base.html.twig' %}
{% block title %}Games{% endblock %}

{% block content %}

<div id="category">
    <h1>{{category.title}}</h1>
    <h2>{{category.subtitle}}</h2>
    <p>{{category.description}}</p>
</div>
<hr/>
<div id="projects">
    {% for project in category.projects %}
    <div class="project">
        {% if project.gallery and project.gallery.cover %}
            <a href="{{ imagekit_path ~ tr_lightbox ~ '/' ~ project.gallery.cover.filename }}" rel="lightbox">
                <img src="{{ imagekit_path ~ tr_project_thumb ~ '/' ~ project.gallery.cover.filename }}" alt="{{ project.gallery.cover.alt }}"/>
            </a>
        {% else %}
            <img src="#" alt="cover"/>
        {% endif %}
        <div class="title-wrapper">
            <div class="project-title"><a href="{{ path('project_show', {'slug': project.slug}) }}">{{ project.title }}</a></div>
            <div class="project-subtitle">{{ project.subtitle }}</div>
        </div>
        <div class="project-intro">{{ project.intro }}</div>
    </div>
    {% endfor %}
        
    {% if not category.projects %}
        <div class="content-wrapper">Projects Coming Soon!</div>
    {% endif %}
</div>

{% endblock %}