{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}Admin Projects{% endblock %}
{% block content %}
<div class="content-wrapper">
    <h1>Projects</h1>
    <a href="{{ path('admin_project_new') }}">New+</a>
    <ul>
        {% for project in projects %}
            <li>
                <div class="project">
                    <div class="project-title"><a href="{{ path('project_show', {'slug': project.slug})}}">{{ project.title }}</a></div>
                    <div class="project-subtitle">{{project.subtitle}}</div>
                    <div class="project-crudnav">
                        <a href="{{ path('admin_project_edit', {'slug': project.slug}) }}"><button>Edit</button></a>
                        <a href="{{ path('admin_project_delete', {'slug': project.slug}) }}"><button>Delete</button></a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('admin_project_new') }}">New+</a>
</div>
{% endblock %}