{% extends '::empty.html.twig' %}

{% block title %}Welcome!{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('less/base.less') }}" rel="stylesheet/less" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Exo:200,400,600,900' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{ asset('css/lightbox.css') }}" rel="stylesheet" />
{% endblock %}
{% block headerscripts %}
    <script src="{{ asset('js/less-1.3.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery-1.8.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.textarea.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/lightbox.js') }}" type="text/javascript"></script>
{% endblock %}
{% block body %}
    <div id="header">
        {% block header %}
            <div id="info-bar-container">
                <div id="info-bar">
                    <div id="namebar">
                        <p>Alexander</p>
                        <p>Fisher</p>
                        <p>Programmer Extraordinaire</p>
                    </div>
                    <div id="socialbar">
                        <a href="https://github.com/pixelshaded" target="_blank"><img src="{{ asset('img/git-icon.gif') }}" alt="github"></a>
                        <a href="http://www.linkedin.com/in/alexanderffisher" target="_blank"><img src="{{ asset('img/linkedin.gif') }}" alt="linkedin"></a>
                    </div>
                </div>
            </div>
            <div id="navbar-container">    
                <div id="navbar">
                    <ul>
                        <li><a href="{{ path('project_index') }}">Home</a></li>
                        <li><a href="{{ path('fish_frontend_demoreel') }}">Demo Reel</a></li>
                        <li><a href="{{ path('fish_frontend_codesamples') }}" target="_blank">Code Samples</a></li>                                
                        {% render "FishPortfolioBundle:Category:categoryNav" %}
                        <li><a href="{{ path('fish_frontend_resume') }}">Resume</a></li>
{#                        <li><a href="{{ path('fish_frontend_contact') }}">Contact Me</a></li>#}
                        {% if is_granted('ROLE_USER') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('admin_category_index') }}">Admin</a>
                                    <ul>
                                        <li><a href="{{ path('admin_category_index') }}">Categories</a></li>
                                        <li><a href="{{ path('admin_gallery_index') }}">Galleries</a></li>
                                        <li><a href="{{ path('admin_project_index') }}">Projects</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endblock %}
    </div>
    <div id="wrapper">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                <hr/>
                <div id="navbar-footer">
                    <ul>
                        <li><a href="{{ path('project_index') }}">Home</a></li>
                        <li><a href="{{ path('fish_frontend_demoreel') }}">Demo Reel</a></li>
                        <li><a href="{{ path('fish_frontend_codesamples') }}" target="_blank">Code Samples</a></li>  
                        {% render "FishPortfolioBundle:Category:categoryNav" %}
                        <li><a href="{{ path('fish_frontend_resume') }}">Resume</a></li>
{#                        <li><a href="{{ path('fish_frontend_contact') }}">Contact Me</a></li>#}
                    </ul>
                </div>
                <div id="copyright">
                    <p>&copy; 2021 Alexander Fisher</p>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
