{% macro slashes() %}
<span class="slashes">//</span>
{% endmacro %}
{% import _self as macros %}
<div id="resume">
    <table id="resume-header">
        <tr>
            <td id="firstname" class="title">Alexander</td>
            <td id="lastname">Fisher</td>
            <td id="contact">
                <p><span id="address">Atlanta, GA</span> {{macros.slashes}} <span id="phone">(404) 465-4317</span></p>
                <p><span id="email">afisher@alexander-fisher.com</span> {{macros.slashes}} <span id="website"><a href="http://www.alexander-fisher.com" target="_blank">www.alexander-fisher.com</a></span></p>
            </td>
        </tr>
    </table>

    <table id="objective">
        <tr>
            <td class="title">Objective</td>
            <td>A programming position that is challenging and mentally stimulating, where pleasure results from the start of a work day rather than its end.</td>
        </tr>
    </table>

    <table id="skills">
        <tr>
            <td class="title">Skills</td><td></td>
        </tr>
        <tr class="skill">
            <td class="subtitle">Languages</td>
            <td>Java 8, C#, AS3, SQL, HTML, ES6 Javascript, Typescript</td>
        </tr>
        <tr class="skill">
            <td class="subtitle">Engines/Frameworks</td>
            <td>ASP.NET MVC, Web API, WCF, NodeJS, Express, Flex/Flash, Angular 1, Vertx</td>
        </tr>
        <tr class="skill">
            <td class="subtitle">Tools</td>
            <td>Swagger/OpenAPI, React, Redux, Docker, RxJava, RxJs, Redux Sagas, Redux Epics, Redux Thunk, Redux Forms, ReactDND, Webpack</td>
        </tr>
        <tr class="skill">
            <td class="subtitle">Exposure</td>
            <td>Helm, Kubernetes</td>
        </tr>
    </table>

    <table id="education">
        <tr>
            <td class="title">Education</td><td></td>
        </tr>

        <tr class="school">
            <td class="subtitle">Aug 2007–Jun 2011</td>
            <td>
                <p>The Art Institute of Atlanta, Atlanta, Georgia</p>
                <p>Bachelors of Arts in Visual & Game Programming - Summa Cum Laude</p>
            </td>
        </tr>
    </table>

    <table class="experience">
        <tr>
            <td class="title">Related Experience</td><td></td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Nov 2019–March 2020</td>
            <td>
                <p>Zeta Global  //  Atlanta, GA</p>
                <p>Senior Software Engineer</p>
                <p>{{macros.slashes}} Supported our .NET and Flash legacy products, creating documentation and packages so anyone else could support them.</p>
                <p>{{macros.slashes}} Integrated swagger codegen in to our Java projects. Used vertx. Used Dredd for automated contract testing where feasible. FLESH THIS OUT SOME MORE!
            </td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Jan 2018–Nov 2019</td>
            <td>
                <p>IgnitionOne  //  Atlanta, GA</p>
                <p>UI Architect</p>
                <p>{{macros.slashes}} Did a lot of research on web page performance, using tools like chrome's Lighthouse to determine page load improvements and suggesting performance budgets for the company.</p>
                <p>{{macros.slashes}} Created process for containerizing our static React front ends in an Nginx container, using environment variables to change functionality at runtime rather than build time.</p>
                <p>{{macros.slashes}} Refactored our audiences product to have responsive styling. The bootstrap classes helped tremendously with this.
                <p>{{macros.slashes}} Refactored our audiences product away from CSS in JS to use our new custom bootstrap theme and SCSS variables. The goal was to have almost zero custom styling, using only the bootstrap classes.</p>
                <p>{{macros.slashes}} Forked Bootstrap to provide a custom theme. Documentation was hosted in a container running on Kubernetes and was used as style guide, giving example layouts, documenting custom class names, and providing code snippets for consuming SCSS variables in both SCSS files and Typescript files.</p>
                <p>{{macros.slashes}} Refactored audiences product to use Create React App rather than a highly customized Webpack build. This became feasible when they added native support for Typescript. The idea was to use CRA to create new projects rather than forking an unmaintained company boilerplate project.</p>
                <p>{{macros.slashes}} Helped and trained a remote team on a React, Redux, and Typescript project.</p>
            </td>
        </tr>
        
        <tr class="employer">
            <td class="subtitle">Aug 2014–Jan 2018</td>
            <td>
                <p>IgnitionOne  //  Atlanta, GA</p>
                <p>Senior Software Engineer</p>
                <p>{{macros.slashes}} Refactored Redux middleware in audiences UI to Sagas, eventually settling on Epics so that back end focused developers could use their Reactive knowledge from RxJava in the front end.</p>
                <p>{{macros.slashes}} Helped support and add features to the Java Vertx services used by the audiences UI.</p>
                <p>{{macros.slashes}} Helped with rewrite of a audiences UI as a serverless UI using React, Redux, and Webpack.</p>
                <p>{{macros.slashes}} Helped QA automate UI testing with Selenium in a Java environment.</p>
                <p>{{macros.slashes}} Created 500 middleware for express that would log errors to graylog and return an error code in the response which could be used to look up the error later in graylog.</p>
                <p>{{macros.slashes}} Created common component site which served as the development environment and documentation for shared angular directives and filters. Used Webpack and hot module replacement.</p>
                <p>{{macros.slashes}} Integrated swagger codegen in to angular site for its API and created workflow for generating clients for all microservices it depends on.</p>
                <p>{{macros.slashes}} Rewrote web service as a WCF service for interacting with google's double click for advertisers API.</p>
                <p>{{macros.slashes}} Converted grunt build tasks to gulp to decrease build times in an angular node project. Created tasks for updating tsconfig tracked files based on glob, tslinting, and compiling typescript files.</p>
                <p>{{macros.slashes}} Created smart navbar system in typescript that would retain a client context across multiple web apps using the querystring. Smart nav would automatically determine selected navigation node using the browser url.</p>
                <p>{{macros.slashes}} Updated dashboard front end to support multiple dashboards and their CRUD operations using typescript.</p>
                <p>{{macros.slashes}} Created .NET version of highchart's API so charts for dashboard could be generated on the server and then be serialized in to the proper javascript objects.</p>
                <p>{{macros.slashes}} Spearheaded the conversion of dashboard charts from fusioncharts to highcharts to increase page performance.</p>
                <p>{{macros.slashes}} Converted widget backend to use async controllers. This improved page load times on the dashboard substantially.</p>
                <p>{{macros.slashes}} Converted widgets from client to server rendering after benchmarking client vs server page rendering time.</p>
                <p>{{macros.slashes}} Created knockout.js widget subsystem within a .NET jdash dashboard using typescript and inheritance. Widgets needed to react to page controls changing to refresh data and browser resizing to change styling for responsiveness.</p>
            </td>
        </tr>
        
        <tr class="employer">
            <td class="subtitle">Aug 2013–Aug 2014</td>
            <td>
                <p>IgnitionOne  //  Atlanta, GA</p>
                <p>Software Engineer</p>
                <p>{{macros.slashes}} Implemented fusionchart visualizations for an SPA analytics rewrite using requirejs and typescript.</p>
                <p>{{macros.slashes}} Spearheaded the use of kendoUI for an SPA analytics rewrite to decrease LOE of project.</p>
                <p>{{macros.slashes}} Implemented service to share navbar markup, footer markup, and styling across multiple web apps (both SPA and MPA) within our product.</p>
                <p>{{macros.slashes}} Evaluated AngularJS, Durandal, and Emberjs as possible MV* frameworks for the rewrite of our front end from flash to html.</p>
                <p>{{macros.slashes}} Created C# nuget packages to interface with Media Mind and Google DFA APIs.</p>
                <p>{{macros.slashes}} In a scrum environment and with the help of my team, implemented new features in the marketing suite in both the Flex front end and .NET middle tier/backend.</p>
            </td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Oct 2012–July 2013</td>
            <td>
                <p>Total Computing Solutions  //  American Fork, Utah</p>
                <p>Front/Back End Web Developer using ASP.NET MVC4 for Campus Webstore</p>
                <p>{{macros.slashes}} Worked with my team member to implement connection pooling for our Pick Databases using .NET and Nodejs to increase webstore performance.</p>
                <p>{{macros.slashes}} Worked with my team member and a Pick Database engineer to add a new feature called Advanced Faculty Adoptions. This automated the process of faculty adopting books for their classes. My major role was building the section where administrators could approve and edit the submitted adoptions, both singularly and in bulk.</p>
                <p>{{macros.slashes}} Leveraged Bootstrap for styling to improve user experience throughout.</p>
                <p>{{macros.slashes}} Worked with my team member to build a layered Knockout.js binding system to support partial views. This allowed the partial views to contain the javascript functionality that was associated with them, making them both reusable and much more maintainable compared to a pure JQuery system.</p>
                <p>{{macros.slashes}} Worked with my team member to add mobile support using jQuery Mobile and Knockout.js. This was used as a selling point for our software.</p>
                <p>{{macros.slashes}} Implemented a link manager with drag and drop ordering using jQueryUI. This would also update the quicklink section of the website in real time to improve the user exerience.</p> 
                <p>{{macros.slashes}} Worked with my team member to implement javascript detection with view mode switching. This was a stepping stone to ADA compliance.</p>
                <p>{{macros.slashes}} Worked with my team member to make the website ADA WCAG compliant since a client required this before using our software. This included text only and noscript versions of the site.</p>
                <p>{{macros.slashes}} Built reusable c# library for interacting with Pick db and parsing the xml response. This also included 100% code coverage with both unit and integrated tests to verify the library's stability. The library was built with dependency injection in mind.</p>
                <p>{{macros.slashes}} Rewrote some of the existing backend for better maintainability and readability.</p>
            </td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Apr 2012–Sep 2012</td>
            <td>
                <p>LIME Marketing  //  Provo, Utah</p>
                <p>Back End Web Developer using Symfony2, php, nodejs, and twig</p>
                <p>{{macros.slashes}} Built Node.js npm packages/libraries to support current and future Node development.</p>
                <p>{{macros.slashes}} Wrote back-end API for iOS app Meet Sync with Node.js. This included request schemas and validation against them to improve developer feedback when making malformed requests.</p>
                <p>{{macros.slashes}} Worked with my team member to rewrite Cake game server with Node.js for increased performance of the iPhone game, DeadDrop. This included heavy use of raw SQL queries since they perform better then ORM systems in Node.</p>
                <p>{{macros.slashes}} Worked with my team member to build the Symfony2 PHP backend for Apealz, an ecommerce website with image manipulation.</p>
            </td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Sept 2011–Apr 2012</td>
            <td>
                <p>Georgia Tech Research Institute  //  Atlanta, Georgia</p>
                <p>Tech Temp: Focus on Serious Games built with Unity Engine and C#</p>
                <p>{{macros.slashes}} Worked with my team member to finish Cyber Warfare RTS game prototype for ITSEC conference. This was mainly an overhaul of the GUI using Unity's GUI system.</p>
                <p>{{macros.slashes}} Built Augmented Reality prototype for iOS and nanotube lab. Students could point their device camera at their lab sheets to get a 3D model of the lab with interactive object labeling.</p>
                <p>{{macros.slashes}} Built AI for the crowd, tour guide, and quest giver in the learn a place demo.</p>
                <p>{{macros.slashes}} Built <a href="{{ path('project_show', {'slug' : 'hands-on-demo'})}}" target="_blank">prototype</a> for hands on training which incorporated the <a href="http://www.razerzone.com/minisite/hydra" target="_blank">Razer Hydra</a>.</p>
            </td>
        </tr>

        <tr class="additional">
            <td class="subtitle">Additional Work</td>
            <td>
                <p>All viewable in Demo Reel</p>
                <p>{{macros.slashes}} <a href="{{ path('project_show', {'slug' : 'buddy-system'})}}" target="_blank">Buddy System</a>: 2 player coop game prototype built around required teamwork.</p>
                <p>{{macros.slashes}} <a href="{{ path('project_show', {'slug' : 'magnedude'})}}" target="_blank">Magnedude</a>: Physics puzzle game prototype based on magnets.</p>
                <p>{{macros.slashes}} <a href="{{ path('project_show', {'slug' : 'jun'})}}" target="_blank">Jun</a>: Third person platforming game prototype. Made with Unreal Dev Kit.</p>
                <p>{{macros.slashes}} <a href="{{ path('project_show', {'slug' : 'blockectomy'})}}" target="_blank">Blockectomy</a>: Falling puzzle Flash game released on <a href="http://www.kongregate.com/games/pixelshaded/blockectomy" target="_blank">Kongregate</a> / <a href="http://www.newgrounds.com/portal/view/512898" target="_blank">Newgrounds</a>.</p>
                <p>{{macros.slashes}} Code Samples: <a href="{{ path('fish_frontend_codesamples')}}" target="_blank">www.alexander-fisher.com/code-samples</a></p>
                <p>{{macros.slashes}} Demo Reel: <a href="{{ path('fish_frontend_demoreel')}}" target="_blank">www.alexander-fisher.com/demo-reel</a></p>
            </td>
        </tr>
    </table>
</div>
