<div id="resume">
    <table id="resume-header">
        <tr>
            <td id="firstname" class="title">Alexander</td>
            <td id="lastname">Fisher</td>
            <td id="contact">
                <p><span id="address">Provo, Utah</span> <span class="slashes">//</span> <span id="phone">(404) 861-7207</span></p>
                <p><span id="email">mail@alexander-fisher.com</span> <span class="slashes">//</span> <span id="website"><a href="http://www.alexander-fisher.com" target="_blank">www.alexander-fisher.com</a></span></p>
            </td>
        </tr>
    </table>

    <table id="objective">
        <tr>
            <td class="title">Objective</td>
            <td>A programming position that is challenging and mentally stimulating, where pleasure results from the start of a work day rather than its end.</td>
        </tr>
    </table>

    <table id="skills">
        <tr>
            <td class="title">Skills</td><td></td>
        </tr>
        <tr class="skill">
            <td class="subtitle">Languages</td>
            <td>C#, PHP, AS3, SQL, Doctrine DQL, Intermediate C++, XHTML, CSS, Javascript</td>
        </tr>
        <tr class="skill">
            <td class="subtitle">Engines/Frameworks</td>
            <td>Unity, Unreal Development Kit, Symfony2, NodeJS</td>
        </tr>
        <tr class="skill">
            <td class="subtitle">Tools</td>
            <td>Photoshop, Github, Unix CLI</td>
        </tr>
    </table>

    <table id="education">
        <tr>
            <td class="title">Education</td><td></td>
        </tr>

        <tr class="school">
            <td class="subtitle">Aug 2007–Jun 2011</td>
            <td>
                <p>The Art Institute of Atlanta, Atlanta, Georgia</p>
                <p>Bachelors of Arts in Visual & Game Programming - Summa Cum Laude</p>
            </td>
        </tr>
    </table>

    <table class="experience">
        <tr>
            <td class="title">Related Experience</td><td></td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Oct 2012 – Current</td>
            <td>
                <p>Total Computing Solutions  //  American Fork, Utah</p>
                <p>Front/Back End Web Developer using ASP.NET MVC4, jQuery, and Knockout.js</p>
                <p><span class="slashes">//</span> Maintain and add features to Book Webstore (software as a service)</p>
            </td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Apr 2012 – Sep 2012</td>
            <td>
                <p>LIME Marketing  //  Provo, Utah</p>
                <p>Back End Web Developer using Symfony2, php, nodejs, and twig</p>
                <p><span class="slashes">//</span> Wrote back-end API for iOS app Meet Sync</p>
                <p><span class="slashes">//</span> Helped rewrite cake game server in node for the iPhone game, DeadDrop.</p>
            </td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Sept 2011 – Apr 2012</td>
            <td>
                <p>Georgia Tech Research Institute  //  Atlanta, Georgia</p>
                <p>Tech Temp: Focus on Serious Games built with Unity Engine and C#</p>
                <p><span class="slashes">//</span> Helped finish Cyber Warfare RTS game prototype for ITSEC conference.</p>
                <p><span class="slashes">//</span> Built Augmented Reality prototype for iOS and nanotube lab.</p>
                <p><span class="slashes">//</span> Built AI for learn a place demo.</p>
                <p><span class="slashes">//</span> Built <a href="{{ path('project_show', {'slug' : 'hands-on-demo'})}}" target="_blank">prototype</a> for hands on training which incorporated the <a href="http://www.razerzone.com/minisite/hydra" target="_blank">Razer Hydra</a>.</p>
            </td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Feb 2011 – Apr 2011</td>
            <td>
                <p>Thrust Interactive  //  Atlanta, Georgia</p>
                <p>Intern</p>
                <p><span class="slashes">//</span> Built a Melscript to prepare a generated rig for use inside the Unity Engine.</p>
                <p><span class="slashes">//</span> Skinned some of the models for their prototype strategy game.</p>
            </td>
        </tr>

        <tr class="additional">
            <td class="subtitle">Additional Work</td>
            <td>
                <p>All viewable in Demo Reel</p>
                <p><span class="slashes">//</span> <a href="{{ path('project_show', {'slug' : 'buddy-system'})}}" target="_blank">Buddy System</a>: 2 player coop game prototype built around required teamwork.</p>
                <p><span class="slashes">//</span> <a href="{{ path('project_show', {'slug' : 'magnedude'})}}" target="_blank">Magnedude</a>: Physics puzzle game prototype based on magnets.</p>
                <p><span class="slashes">//</span> <a href="{{ path('project_show', {'slug' : 'jun'})}}" target="_blank">Jun</a>: Third person platforming game prototype. Made with Unreal Dev Kit.</p>
                <p><span class="slashes">//</span> <a href="{{ path('project_show', {'slug' : 'blockectomy'})}}" target="_blank">Blockectomy</a>: Falling puzzle game made with Actionscript 3. Released on <a href="http://www.kongregate.com/games/pixelshaded/blockectomy" target="_blank">Kongregate</a> and <a href="http://www.newgrounds.com/portal/view/512898" target="_blank">Newgrounds</a>.</p>
                <p><span class="slashes">//</span> Code Samples: <a href="{{ path('fish_frontend_codesamples')}}" target="_blank">www.alexander-fisher.com/code-samples</a></p>
                <p><span class="slashes">//</span> Demo Reel: <a href="{{ path('fish_frontend_demoreel')}}" target="_blank">www.alexander-fisher.com/demo-reel</a></p>
            </td>
        </tr>
    </table>
</div>
