{% extends '::base.html.twig' %}
{% block title %}Delete Image{% endblock %}
{% block content %}
<div class="content-wrapper">
    <h1><a href="{{ path('admin_gallery_index') }}">Galleries</a> > <a href="{{ path('admin_gallery_show', {'slug' : image.gallery.slug}) }}">{{image.gallery.title}}</a> > Delete Image</h1>
    
    <div class="thumbnail">
        <a href="{{ asset(image.path ~ image.filename) }}" rel="lightbox[group]">
            <img src="{{ asset(image.path ~ image.filename) | imagine_filter('admin_thumb') }}" alt="{{ image.alt }}" {% if image == image.gallery.cover %}class="cover"{%endif%} />
        </a>
    </div>
    
    <form class='delete' action="{{ path('admin_gallery_delete_image', {'id' : image.id}) }}" method="post">
        {{ form_widget(form) }}
        Are you sure you want to delete this image from gallery "{{image.gallery.title}}"?
        <input type="hidden" name="_method" value="delete" />
        <p><button type="submit">Yes</button><a href="{{ path('admin_gallery_show', {'slug' : image.gallery.slug}) }}"><button type="button">No</button></a></p>
    </form>
</div>
{% endblock %}