{% extends '::base.html.twig' %}
{% block title %}Edit Gallery{% endblock %}
{% block content %}
<div class="content-wrapper">
    <h1><a href="{{ path('admin_gallery_index') }}">Galleries</a> > <a href="{{ path('admin_gallery_show', {'slug' : gallery.slug}) }}">{{gallery.title}}</a> > Edit</h1>

    <form action="{{ path('admin_gallery_edit', {'slug': gallery.slug}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>
</div>
{% endblock %}
