{% extends '::base.html.twig' %}
{% block content %}
    <div class="content-wrapper">
        <h1>Galleries</h1>
        <a href="{{ path('admin_gallery_new') }}">New+</a>
        <div class="galleries-wrapper">
            {% for gallery in galleries %}
                <div>
                    <div>
                        <a href="{{ path('admin_gallery_show', {'slug': gallery.slug}) }}">{{gallery.title}}</a>
                        <a href="{{ path('admin_gallery_edit', {'slug': gallery.slug}) }}"><button type="button">Change Title</button></a>
                    </div>
                    <div class="gallery">
                        <div class="gallery-image">
                            {% if gallery.cover %}
                                <a href="{{ asset(gallery.cover.path ~ gallery.cover.filename) }}" rel="lightbox[group]">
                                    <img src="{{ asset(gallery.cover.path ~ gallery.cover.filename) | imagine_filter('admin_thumb') }}" alt="{{ gallery.cover.alt }}" class="cover" />
                                </a>
                            {% endif %}
                        </div>
                        {% for image in gallery.images if loop.index < 4%}
                            <div class="gallery-image">
                                <a href="{{ asset(image.path ~ image.filename) }}" rel="lightbox[group]">
                                    <img src="{{ asset(image.path ~ image.filename) | imagine_filter('admin_thumb') }}" alt="{{ image.alt }}"/>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('admin_gallery_new') }}">New+</a>
    </div>
{% endblock %}
