{% extends '::base.html.twig' %}

{% block content %}
<div class="content-wrapper">
    <h1><a href="{{ path('admin_gallery_index') }}">Galleries</a> > <a href="{{ path('admin_gallery_show', {'slug' : gallery.slug}) }}">{{gallery.title}}</a> > Add Image</h1>

    <form action="{{ path('admin_gallery_new_image', {'slug' : gallery.slug}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
</div>
{% endblock %}
