{% extends '::base.html.twig' %}

{% block content %}
    
    <script>
        $(document).ready(function(){
            $('.gallery-image').hover(function(){
               $('.image-controls', this).fadeIn('fast');
            },
            function(){
               $('.image-controls', this).fadeOut('fast'); 
            });
        });
    </script>
    <div class="content-wrapper">
        <h1><a href="{{ path('admin_gallery_index') }}">Galleries</a> > {{gallery.title}}</h1>
        <div><a href="{{ path('admin_gallery_new_image', {'slug' : gallery.slug}) }}">Add Image+</a></div>
        <div class="gallery">
            {% for image in gallery.images %}
                <div class="gallery-image">
                    <a href="{{ imagekit_path ~ tr_lightbox ~ '/' ~ image.filename }}" rel="lightbox[group]">
                        <img src="{{ imagekit_path ~ tr_admin_thumb ~ '/' ~ image.filename }}" alt="{{ image.alt }}" {% if image == gallery.cover %}class="cover"{%endif%} />
                    </a>
                    <div class="image-controls">
                        {% if image != gallery.cover %}
                            <a href="{{ path('admin_gallery_edit_cover', {'slug' : gallery.slug, 'id' : image.id}) }}"><button class="cover-button" type="button">Make Cover</button></a>
                        {% endif %}
                        <a href="{{ path('admin_gallery_delete_image', {'id' : image.id}) }}"><button type="button">Delete</button></a>
                        <!-- <a href="{{ path('admin_gallery_edit_image', {'id' : image.id}) }}"><button type="button">Edit</button></a> -->
                    </div>
                </div>
            {% endfor %}
        </div>
        <div><a href="{{ path('admin_gallery_new_image', {'slug' : gallery.slug}) }}">Add Image+</a></div>
    </div>
{% endblock %}