{% extends '::base.html.twig' %}
{% block title %}Projects{% endblock %}

{% block header %}
    {{ parent() }}
    {% if showcase and showcase.gallery and showcase.gallery.images and showcase.gallery.images|length > 2 %}
    <div id="slideshow-container">
        <div id="slideshow">
            <div id="image-box">
                <div id="current-image">
                    <a href="{{ asset(showcase.gallery.cover.path ~ showcase.gallery.cover.filename) | imagine_filter('lightbox') }}" rel="lightbox[group]">
                        <img src="{{ asset(showcase.gallery.cover.path ~ showcase.gallery.cover.filename) | imagine_filter('slideshow_slide')}}" alt="{{ showcase.gallery.cover.alt }}"/>
                    </a>
                </div>
                <div class="title-wrapper">
                    <div class="project-title"><a href=" {{ path('project_show', {'slug' : showcase.slug }) }}">{{ showcase.title }}</a></div>
                    <div class="project-subtitle">{{ showcase.subtitle }}</div>
                    <!-- <div class="project-tagline">{{ showcase.tagline }}</div> -->
                </div>
            </div>
            <div id="carousel">
                <ul>
                    {% for image in showcase.gallery.images %}
                        <li>
                            <a href="{{ asset(image.path ~ image.filename) | imagine_filter('lightbox') }}" rel="lightbox[group]">
                                <img src="{{ asset(image.path ~ image.filename) | imagine_filter('slideshow_thumb')}}" alt="{{ image.alt }}"/>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}

<script>
    $(document).ready(function(){
        
        function projectSlider() {
            var width = $('.project').outerWidth();
            var amount = parseInt("{{ projects|length }}");
            var paused = false;

            //on hover pause
            $('#projects').hover(function(){
                paused = true;
            }, function(){
                paused = false;
            });

            //dont animate if there are not enough elements
            if (amount < 4) return;

            setInterval(function() {

                //add first element to the end
                $('.project:eq(0)').clone().appendTo('#projects');

                if (!paused) $('#projects').animate({"left" : -width}, "{{ projects_animation_speed }}", function(){
                    //remove it after we finish animating and reset left
                    $('#projects').css({"left" : 0});
                    $('.project:eq(0)').remove();
                });
            }, "{{ projects_interval }}"); 
        }
        
        function slideshow(){
            var height = $('#carousel ul li').outerHeight();
            var paused = false;

            //on hover pause
            $('#carousel').hover(function(){
                paused = true;
            }, function(){
                paused = false;
            });

            setInterval(function() {

                //add first element to the end
                $('#carousel ul li:eq(0)').clone().appendTo('#carousel ul');

                if (!paused) $('#carousel ul').animate({"top" : -height}, "{{ slideshow_animation_speed }}", function(){
                    //remove it after we finish animating and reset left
                    $('#carousel ul').css({"top" : 0});
                    $('#carousel ul li:eq(0)').remove();
                });
            }, "{{ slideshow_interval }}"); 
        }
        
        projectSlider();
        slideshow();
    });
</script>

<div id ="project-slider">
    <div id="projects">
        {% for project in projects %}
        <div class="project">
            {% if project.gallery and project.gallery.cover %}
                <a href="{{ asset(project.gallery.cover.path ~ project.gallery.cover.filename) | imagine_filter('lightbox') }}" rel="lightbox">
                    <img src="{{ asset(project.gallery.cover.path ~ project.gallery.cover.filename) | imagine_filter('project_thumb') }}" alt="{{ project.gallery.cover.alt }}"/>
                </a>
            {% else %}
                <img src="#" alt="cover"/>
            {% endif %}
            <div class="title-wrapper">
                <div class="project-title"><a href="{{ path('project_show', {'slug' : project.slug }) }}">{{ project.title }}</a></div>
                <div class="project-subtitle">{{ project.subtitle }}</div>
            </div>
            <div class="project-intro">{{ project.intro }}</div>
        </div>
        {% endfor %}
    </div>
</div>

<hr/>

<div id="aboutme">
    <p>"A programming position that is challenging and mentally stimulating, where pleasure results from the start of a work day rather than its end" - that's been my first and only mission statement as far as my career is concerned. I'm a programmer because I love it. I like solving puzzles. There have been nights when I could not sleep because my brain was picking apart the best way to structure an application. If you are looking for a highly motivated programmer who is totally in to his craft, you have come to the right place.</p>
</div>

{% endblock %}