{% extends '::base.html.twig' %}
{% block title %}{{project.title}}{% endblock %}
{% block content %}

<div class="content-wrapper">
    <div id="gallery">
        <div id="gallery-image">
            <img src="{{ asset('img/magnadude.jpg') }}" alt="{{ project.title }}"/>
        </div>
        <div class="title-wrapper">
            <div class="project-title">
            {{project.title}}
            </div>
            <div class="project-tagline">
                {{project.tagline}}
            </div>
        </div>
    </div>
    <div id="project-content">
        {{project.content|raw}}
    </div>
    <div id="project-subcontent">
        {{project.subcontent|raw}}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div><a href="{{ path('admin_project_edit', {'slug' : project.slug}) }}"><button type="button">Edit</button></a></div>
    {% endif %}
</div>
{% endblock %}
