{% extends '::base.html.twig' %}
{% block title %}{{project.title}}{% endblock %}
{% block content %}

<div class="content-wrapper">
    <div id="gallery">
        <div id="gallery-image">
            {% if project.gallery and project.gallery.cover %}
                <img src="{{ imagekit_path ~ tr_project_cover ~ '/' ~ project.gallery.cover.filename }}" alt="{{ project.gallery.cover.alt }}"/>
            {% else %}
                <img src="#" alt="cover"/>
            {% endif %}
        </div>
        <div class="title-wrapper">
            <div class="project-title">
            {{project.title}}
            </div>
            <div class="project-gallery">
                {% if project.gallery and project.gallery.images %}
                    <a href="{{ imagekit_path ~ tr_lightbox ~ '/' ~ project.gallery.images[0].filename }}" rel="lightbox[group]">Gallery</a>
                {% else %}
                    {{project.subtitle}}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- <div id="gallery-slideshow">
        <ul>
        {% for image in project.gallery.images %}
            <li class="gallery-image">
                <a href="{{ imagekit_path ~ tr_lightbox ~ '/' ~ image.filename }}" rel="lightbox[group]">
                    <img src="{{ imagekit_path ~ tr_admin_thumb ~ '/' ~ image.filename }}" alt="{{ image.alt }}" />
                </a>
            </li>
        {% endfor %}
        </ul>
    </div> -->
    <div id="gallery-slideshow">
        <ul class='gallery-lightbox'>
        {% for image in project.gallery.images %}
            {% if loop.index != 1 %}
                <li class="gallery-image">
                    <a href="{{ imagekit_path ~ tr_lightbox ~ '/' ~ image.filename }}" rel="lightbox[group]"></a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div id="project-content">
        {{project.content|raw}}
    </div>
    <div id="project-subcontent">
        {{project.subcontent|raw}}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div><a href="{{ path('admin_project_edit', {'slug' : project.slug}) }}"><button type="button">Edit</button></a></div>
    {% endif %}
</div>
{% endblock %}
