<h1>GameProject</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Tagline</th>
            <td>{{ entity.tagline }}</td>
        </tr>
        <tr>
            <th>Platform</th>
            <td>{{ entity.platform }}</td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>{{ entity.genre }}</td>
        </tr>
        <tr>
            <th>Languages</th>
            <td>{{ entity.languages }}</td>
        </tr>
        <tr>
            <th>Responsibilities</th>
            <td>{{ entity.responsibilities }}</td>
        </tr>
        <tr>
            <th>Download</th>
            <td>{{ entity.download }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ entity.content }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('gameproject') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('gameproject_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('gameproject_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
